# Note: Changing the latest PR will force a new buildout run and therefore, a
# new git checkout of the senaite sources!
#
# Latest `senaite.core` PR: #1933
[buildout]
index = https://pypi.python.org/simple/
extends =
  buildout-base.cfg
extensions = mr.developer

var-dir=/data
user=admin:admin

effective-user = senaite
buildout-user = senaite

eggs-directory=eggs
download-cache=../buildout-cache/downloads

parts +=
  zeo
  plonesite
  client_reserved
  console_scripts

eggs +=
    senaite.lims

sources = sources
auto-checkout = *
always-checkout = force

[sources]
senaite.core = git git://github.com/senaite/senaite.core.git branch=2.x
senaite.app.listing = git git://github.com/senaite/senaite.app.listing.git branch=2.x
senaite.app.spotlight = git git://github.com/senaite/senaite.app.spotlight.git branch=2.x
senaite.app.supermodel = git git://github.com/senaite/senaite.app.supermodel.git branch=2.x
senaite.databox = git git://github.com/senaite/senaite.databox.git branch=master
senaite.impress = git git://github.com/senaite/senaite.impress.git branch=2.x
senaite.jsonapi = git git://github.com/senaite/senaite.jsonapi.git  branch=2.x
senaite.lims = git git://github.com/senaite/senaite.lims.git branch=2.x

[client1]
recipe =

[zeo]
<= zeoserver_base
recipe = plone.recipe.zeoserver
zeo-address = 8080

[instance]
# taken from https://github.com/plone/plone.docker/blob/master/5.2/5.2.5/python2/buildout.cfg
event-log-handler = StreamHandler
event-log-args = (sys.stderr,)
access-log-handler = StreamHandler
access-log-args = (sys.stdout,)

[client_reserved]
<= instance_base
recipe = plone.recipe.zope2instance
http-address = 8089

[console_scripts]
recipe = zc.recipe.egg:scripts
eggs = senaite.core

[plonesite]
recipe = collective.recipe.plonesite
instance = instance
site-id = senaite
profiles-initial = Products.CMFPlone:dependencies
profiles =
    senaite.lims:default
upgrade-portal = False
upgrade-all-profiles = False
enabled = False

[versions]
setuptools =
zc.buildout =