[buildout]
index = https://pypi.org/simple/
allow-hosts =
  pypi.org
  pypi.python.org
  files.pythonhosted.org
  pypi.tuna.tsinghua.edu.cn
  dist.plone.org
find-links =
  file:///home/senaite/wheelhouse
  https://dist.plone.org/release/5.2.15/
  https://dist.plone.org/thirdparty/
extends =
  buildout-base.cfg
  common-addons.cfg
  custom-addon.cfg
extensions = mr.developer

var-dir=/data
user=admin:Maitux=123456

effective-user = senaite
buildout-user = senaite

eggs-directory=eggs
download-cache=../buildout-cache/downloads

parts +=
  plonesite
  console_scripts

eggs +=
    RelStorage
    psycopg2
    senaite.lims
    senaite.databox
    senaite.storage
    senaite.patient
    senaite.ldap

sources = sources
auto-checkout = *

[sources]
senaite.core = git https://github.com/NingboMaiTux/senaite.core.git branch=2.x
senaite.app.listing = git https://github.com/senaite/senaite.app.listing.git branch=2.x
senaite.app.spotlight = git https://github.com/senaite/senaite.app.spotlight.git branch=2.x
senaite.app.supermodel = git https://github.com/senaite/senaite.app.supermodel.git branch=2.x
senaite.databox = git https://github.com/senaite/senaite.databox.git branch=master
senaite.impress = git https://github.com/senaite/senaite.impress.git branch=2.x
senaite.jsonapi = git https://github.com/senaite/senaite.jsonapi.git  branch=2.x
senaite.lims = git https://github.com/NingboMaiTux/senaite.lims.git branch=2.x
senaite.databox = git https://github.com/senaite/senaite.databox.git branch=master
senaite.storage = git https://github.com/senaite/senaite.storage.git branch=2.x
senaite.patient = git https://github.com/senaite/senaite.patient.git branch=master
senaite.ldap = git https://github.com/senaite/senaite.ldap.git branch=master

[client1]
recipe =

[instance]
# taken from https://github.com/plone/plone.docker/blob/master/5.2/5.2.5/python2/buildout.cfg
rel-storage =
    type postgresql
    host postgres
    dbname lims_db
    user lims_user
    password Maitux=123456
    blob-dir /data/blobstorage
    shared-blob-dir true
event-log-handler = StreamHandler
event-log-args = (sys.stderr,)
access-log-handler = StreamHandler
access-log-args = (sys.stdout,)

[console_scripts]
recipe = zc.recipe.egg:scripts
eggs = senaite.core

[plonesite]
recipe = collective.recipe.plonesite
instance = instance
site-id = MaiLIMS
profiles-initial = Products.CMFPlone:dependencies
profiles =
    senaite.lims:default
upgrade-portal = False
upgrade-all-profiles = False
enabled = False

[versions]
setuptools =
zc.buildout =
RelStorage = 3.5.0
psycopg2 = 2.8.6
perfmetrics = 3.2.0
