include README.md
recursive-include src/INNOCARE/LabelAndReport/profiles *.xml *.txt
recursive-include src/INNOCARE/labeldesign/browser *.pt
recursive-include src/INNOCARE/labeldesign/browser/stickers/templates *.pt *.css
recursive-include src/INNOCARE/reportdesign/templates *.pt *.css
