[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone43.cfg

index = https://pypi.org/simple/

[versions]
zc.buildout = 2.5.3
setuptools = 27.3.0
# Pillow = 5.1.0

# manual pinnings
PyJWT = <2.0.0a1
plone.app.referenceablebehavior = 0.7.7
collective.recipe.vscode = >=0.1.6
backports.functools_lru_cache = 1.5
isort = 4.3.21
# 2.1.1 is the last supported version for Plone 4.3, but plone.app.contenttypes 1.1.6 is requirering <2.1.0:
plone.app.dexterity = <2.1.0
#docutils = 0.17.1
plone.app.robotframework = 1.2.1
configparser = 3.5.3
plone.testing = 5.0.0
jsonschema = 2.6.0
###


