[buildout]
# 客户定制 add-on 挂载在容器内的 /opt/addons/customers 目录
develop +=
    /opt/addons/customers/maitux.oauth2.0
    /opt/addons/customers/maitux.calcenhance
    /opt/addons/customers/maitux.esignature
    /opt/addons/customers/maitux.instrument_acquisition
    /opt/addons/customers/maitux.reviewerassignment
    /opt/addons/customers/maitux.stability
    /opt/addons/customers/maitux.stock
    /opt/addons/customers/maitux.testmodel
    /opt/addons/customers/maitux.workflow
    /opt/addons/customers/maitux.audittrail
    /opt/addons/customers/maitux.groupmanagement
    /opt/addons/customers/maitux.hazardcategories
    /opt/addons/customers/maitux.roles
    /opt/addons/customers/maitux.projects
    /opt/addons/customers/INNOCARE.arextension

eggs +=
    maitux.oauth2
    maitux.calcenhance
    maitux.esignature
    maitux.instrument_acquisition
    maitux.reviewerassignment
    maitux.stability
    maitux.stock
    maitux.testmodel
    maitux.workflow
    maitux.audittrail
    maitux.groupmanagement
    maitux.hazardcategories
    maitux.roles
    maitux.projects
    INNOCARE.arextension
[instance]
# 按要求排除 senaite.oidc，其余客户 add-on 全部加载
zcml +=
    maitux.oauth2
    maitux.calcenhance
    maitux.esignature
    maitux.instrument_acquisition
    maitux.reviewerassignment
    maitux.stability
    maitux.stock
    maitux.testmodel
    maitux.workflow
    maitux.audittrail
    maitux.groupmanagement
    maitux.hazardcategories
    maitux.roles
    maitux.projects
    INNOCARE.arextension
[plonesite]
profiles +=
    maitux.oauth2:default
    maitux.calcenhance:default
    maitux.esignature:default
    maitux.instrument_acquisition:default
    maitux.reviewerassignment:default
    maitux.stability:default
    maitux.stock:default
    maitux.testmodel:default
    maitux.workflow:default
    maitux.audittrail:default
    maitux.groupmanagement:default
     maitux.hazardcategories:default
    maitux.roles:default
    maitux.projects:default
    INNOCARE.arextension:default


